* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.film__group {
  display: flex;
  flex-wrap: wrap;
  border: none; 
  align-self: stretch;
  justify-content: center;
}

.film-card {
  align-self: stretch;
  display: grid;
  display: 1;
  border-radius: 12px;
  width: 240px;
  margin: 15px 20px 15px 20px;

  img {
    height: 307px;
    width: 205px;
    margin: 20px auto 0;
  }
}

.pagination {
  margin-bottom: 20px;
}