* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.film__group {
  display: flex;
  flex-wrap: wrap;
  border: none; 
  align-self: stretch;
}

.film-card {
  display: grid;
  width: 240px;
  min-height: 470px;
  margin: 15px 20px;
  align-items: top;

  img {
    height: 307px;
    width: 205px;
    margin: 20px auto 0;
    object-fit: cover;
  }

  .film-card__header, .film-card__text, .film-card__caption {
    text-align: center;
  }
}
.film-card__bottom .film-card__button  {
  width: 28px;
  height: 20px;
  & svg {
    width: 20px;
    height: 20px;
    margin: 0;
  }
}

.film-page {
  display: flex;
  &__main {
    width: 100%;
  }
  &__img {
    width: 300px;
    height: 450px;
    margin-right: 60px;
  }
}

.film-page .film-page__title {
  margin-bottom: 25px;
  margin-top: -5px;
}

.film-page .film-page__text {
  margin-bottom: 30px;
}

.film-page .film-page__genres {
  margin-bottom: 5px;
  font-size: 20px;
}

.film-page .film-page__year {
  padding: 0;
  margin-top: 50px;
  & p {
    font-size: 20px;
    margin-right: 100px;
  }
}

.error-filters .error-filters__title {
  text-align: center;
  margin: 80px 0;
}

.loading-filters .loading-filters__main {
  text-align: center;
  margin: 80px 0;
}

.empty-filters .empty-filters__title {
  text-align: center;
  margin: 50px 0 85px 0;
}

.pagination {
  margin-bottom: 20px;
}

.title {
  text-align: 'center';
  margin-top: 50px;
  margin-bottom: 50px
}